@import "normalize";
@import "bourbon";
@import "neat";
@import "bitters/base";

// Delete this test-trash when you see it!
.hello {
	background: black;
	.bye {
		background: red;
		.bourbon {
			 @include ellipsis(50%);
			 color: red;
		}
		.neat {
			@include span-columns(3);
		}
	}
}